body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:672px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:50px;
}
#u70 {
  position:absolute;
  left:34px;
  top:33px;
  width:36px;
  height:50px;
}
#u71 {
  position:absolute;
  left:2px;
  top:17px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:34px;
  top:93px;
  width:130px;
  height:85px;
}
#u72_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u74 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u74_img.selected {
}
#u74.selected {
}
#u75 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 63%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 63%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 63%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u77 {
  position:absolute;
  left:3px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u73_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78 {
  position:absolute;
  left:20px;
  top:20px;
  width:105px;
  height:20px;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 63%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 63%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 63%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u80 {
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 63%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 63%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 63%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u83 {
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:20px;
  top:60px;
  width:54px;
  height:20px;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 63%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 63%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 63%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u86 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88 {
  position:absolute;
  left:336px;
  top:157px;
  width:334px;
  height:230px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u91 {
  position:absolute;
  left:138px;
  top:0px;
  width:138px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u93 {
  position:absolute;
  left:276px;
  top:0px;
  width:53px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u95 {
  position:absolute;
  left:0px;
  top:30px;
  width:138px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u97 {
  position:absolute;
  left:138px;
  top:30px;
  width:138px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u99 {
  position:absolute;
  left:276px;
  top:30px;
  width:53px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
}
#u101 {
  position:absolute;
  left:0px;
  top:60px;
  width:138px;
  height:33px;
}
#u102 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
}
#u103 {
  position:absolute;
  left:138px;
  top:60px;
  width:138px;
  height:33px;
}
#u104 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:33px;
}
#u105 {
  position:absolute;
  left:276px;
  top:60px;
  width:53px;
  height:33px;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
}
#u107 {
  position:absolute;
  left:0px;
  top:93px;
  width:138px;
  height:33px;
}
#u108 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
}
#u109 {
  position:absolute;
  left:138px;
  top:93px;
  width:138px;
  height:33px;
}
#u110 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:33px;
}
#u111 {
  position:absolute;
  left:276px;
  top:93px;
  width:53px;
  height:33px;
}
#u112 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
}
#u113 {
  position:absolute;
  left:0px;
  top:126px;
  width:138px;
  height:33px;
}
#u114 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
}
#u115 {
  position:absolute;
  left:138px;
  top:126px;
  width:138px;
  height:33px;
}
#u116 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:33px;
}
#u117 {
  position:absolute;
  left:276px;
  top:126px;
  width:53px;
  height:33px;
}
#u118 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
}
#u119 {
  position:absolute;
  left:0px;
  top:159px;
  width:138px;
  height:33px;
}
#u120 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
}
#u121 {
  position:absolute;
  left:138px;
  top:159px;
  width:138px;
  height:33px;
}
#u122 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:33px;
}
#u123 {
  position:absolute;
  left:276px;
  top:159px;
  width:53px;
  height:33px;
}
#u124 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
}
#u125 {
  position:absolute;
  left:0px;
  top:192px;
  width:138px;
  height:33px;
}
#u126 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
}
#u127 {
  position:absolute;
  left:138px;
  top:192px;
  width:138px;
  height:33px;
}
#u128 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:33px;
}
#u129 {
  position:absolute;
  left:276px;
  top:192px;
  width:53px;
  height:33px;
}
#u130 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:105px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  position:absolute;
  left:201px;
  top:151px;
  width:99px;
  height:105px;
}
#u132 {
  position:absolute;
  left:2px;
  top:44px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u133 {
  position:absolute;
  left:226px;
  top:164px;
  width:50px;
  height:80px;
}
#u134 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:366px;
  top:93px;
  width:107px;
  height:25px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u136 {
  position:absolute;
  left:201px;
  top:93px;
  width:133px;
  height:25px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u137_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:45px;
}
#u137 {
  position:absolute;
  left:417px;
  top:118px;
  width:5px;
  height:33px;
}
#u138 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:201px;
  top:93px;
  width:471px;
  height:375px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:375px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
